body {
  padding-top: 50px;
}

.content {
  padding: 40px 15px;
  text-align: center;
}

#scatterplot .data_elem.clicked{
 fill: red; 
}
    
#scatterplot .inactive{
    opacity: .3 !important;
}

div.select-filter{
  display: inline-block;
}
